@{
    ViewData["Title"] = "Error";
}

<div class="error-page d-flex justify-content-center align-items-center">
    <h2>Sorry</h2>
    <h3 class="text-danger">bad action</h3>
    <p>
        Seems like there was an error...
    </p>
</div>