<h2>Post Request:</h2>
<ul class="list-group">
  <li class="list-group-item">@ViewBag.Name</li>
  <li class="list-group-item">@ViewBag.PhoneNumber</li>
  <li class="list-group-item">@ViewBag.Email</li>
  <li class="list-group-item">@ViewBag.Message</li>
</ul>