@{
    ViewData["Title"] = "Index";
}
@section scripts
{
    <script type="text/javascript">
        window.onload = function() {
            $("#nav-about").addClass("active");
        }
    </script>
}

<div class="about-me">
    <h2>About Me</h2>
    <p>Hello, My name is Kevin Xu</p>
</div>